@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #2a033f;
  --light-purple: #7b1fa2;
  --primary-orange: #f69d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
